*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: yellow;
}

.elements {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
}

.greenbox {
  background-color: green;
  border-radius: 10px;
  width: 90vw;
}

.bluebox {
  background-color: blue;
  color: white;
  border-radius: 10px;
  width: 2vw;
  margin: 10px;
}

.size1 {
  width: 20px;
}

.size2 {
  width: 100px;
}

.size3 {
  width: 150px;
}

.size4 {
  width: 80px;
}

.size5 {
  width: 150px;
}

.size6 {
  width: 50px;
}

/*Number 1*/

.list-flex-one {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

/*Number 2*/

.list-flex-two {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  flex-grow: 3;
}

/*Number 3*/

.list-flex-three {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}

/*Number 4*/

.list-flex-four {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}
